vault-keys.json
localgitops_kubeconfig
volumes
helloworld
terraform/certs
terraform/plugin-cache
terraform/kubeconfig
terraform/**/.terraform
terraform/**/.the.plan
terraform/**/terraform.tfstate*
terraform/**/terraform.tfvars
terraform/**/variables.tf
terraform/**/config
terraform/populate/jenkins_kubeconfig
.terraform.lock.hcl
ansible/retry
cacerts
.plugin
